<br>
  <div class="page-header">
    <h1 data-ng-bind="vm.film.title"></h1>
  </div>
  <div class="col-md-2">
    <img src="{{vm.film.img}}" alt="{vm.film.title}}" title="{{vm.film.title}}" width="140" height="200">
  </div>
  <div class="col-md-10">
    <em class="text-muted" ng-bind="vm.film.description"></em>
    <span></span></br></br>
    <div class="col-md-4" data-ng-if="vm.film.ratingFilmweb != '0'">
      <center><h4>Filmweb:</h4>
      <img src="modules/core/client/img/brand/star.png" alt="{{vm.film.title}}" title="{{vm.film.title}}" width="30" height="30" >
      <em><b>{{vm.film.ratingFilmweb}}</b></em></center>
    </div>
    <div class="col-md-4" data-ng-if="vm.film.ratingImdb != '0'">
      <center><h4>Imdb:</h4>
      <img src="modules/core/client/img/brand/star.png" alt="{{vm.film.title}}" title="{{vm.film.title}}" width="30" height="30" >
      <em><b>{{vm.film.ratingImdb}}</b></em></center>
    </div>
    <div class="col-md-4" data-ng-if="vm.film.ratingFilmaster != '0'">
      <center><h4>Filmaster:</h4>
      <img src="modules/core/client/img/brand/star.png" alt="{{vm.film.title}}" title="{{vm.film.title}}" width="30" height="30" >
      <em><b>{{vm.film.ratingFilmaster}}</b></em></center>
    </div>
  </div>
  <div clas="col-md-10">
      <div class="col-md-5">
        </br></br><span>Reżyser: </span>
        <b><span ng-repeat-start="director in vm.film.director" ng-bind="director">
        </span>, <span ng-repeat-end></span></br></br></b>
        <span>Kraj: </span>
        <b><span ng-repeat-start="country in vm.film.country" ng-bind="country">
        </span>, <span ng-repeat-end></span></br></br></b>
        <span>Rodzaj:</span>
        <b><span ng-repeat-start="type in vm.film.type" ng-bind="type"></span>, <span ng-repeat-end></span></br></br></b>
        <p>Aktorzy:</p>
        <b><div data-ng-repeat="star in vm.film.cast" ng-bind="star"></br></div></b>
      </div>
      <div class="col-md-5">
        </br></br><div data-ng-if="vm.film.won != '0'">
          <span>Zdobyte nagrody: <b>{{vm.film.won}}</b></span>
          <div data-ng-if="vm.film.nominations !='0'">
            <span>Nominacje: <b>{{vm.film.nominations }}</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="lead" data-ng-bind="vm.film.content"></p>
</section>
