<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">z serwisów Imdb.com, Filmweb.pl oraz Filmaster.pl</p>
      <form name="vm.form.filmForm" class="form-horizontal" ng-submit="vm.save(vm.form.filmForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Name</label>
            <input name="name" type="text" ng-model="vm.film.name" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.filmForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Film name is required.</p>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Uruchom wyszukiwanie</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <h2>Ostanio znalezione:</h2>
    <div class="col-md-3">
      <h2><strong>T</strong>ytuł</h2>
      <a target="_blank" href="http://mongodb.org/"> zdjęcie</a>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>ytuł</h2>
      <a target="_blank" href="http://mongodb.org/"> zdjęcie</a>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>ytuł</h2>
      <a target="_blank" href="http://mongodb.org/"> zdjęcie</a>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>ytuł</h2>
      <a target="_blank" href="http://mongodb.org/"> zdjęcie</a>
    </div>
  </div>
</section>
