<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Wyszukiwarka filmowa" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">z serwisów Imdb.com, Filmweb.pl oraz Filmaster.pl</p>
      <form name="form.filmForm" class="form-horizontal" ng-submit="find(form.filmForm)" novalidate>
        <fieldset>
          <div class="col-md-6">
            <label class="control-label" for="country">Kraj</label>
            <select name="singleSelect" ng-model="history.country" id="country" class="form-control" placeholder="Country" multiple>
              <option value="{{country}}" ng-repeat="country in countries" ng-bind="country"></option>
            </select>
            <label class="control-label" for="director">Reżyser</label>
            <input name="name" type="text" ng-model="history.director" id="director" class="form-control" placeholder="Reżyser">
            <label class="control-label" for="cast">Aktorzy</label>
            <input name="name" type="text" ng-model="history.cast" id="cast" class="form-control" placeholder="Aktorzy">
            <div class="col-md-6">
              <label class="control-label" for="dateFrom">Data od</label>
              <input name="name" type="text" ng-model="history.dateFrom" id="dateFrom" class="form-control" placeholder="Rok produkcji w formacie yyyy">
            </div>
            <div class="col-md-6">
              <label class="control-label" for="dateTo">Data do</label>
              <input name="name" type="text" ng-model="history.dateTo" id="dateTo" class="form-control" placeholder="Rok produkcji w formacie yyyy">
            </div>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="country">Maksymalna długość</label>
            <input name="name" type="text" ng-model="history.duration" id="duration" class="form-control" placeholder="Czas trwania w minutach" required>
            <label class="control-label" for="type">Typ</label>
            <select name="multipleType" ng-model="history.type" id="type" class="form-control" placeholder="Typ" multiple>
              <option value="{{type}}" ng-repeat="type in types" ng-bind="type"></option>
            </select>
            <label class="control-label" for="country">Strona źródłowa</label></br>
            <label>
              <input type="checkbox" name="imdb" ng-model="history.imdb"> imdb.com
            </label><br/>
            <label>
              <input type="checkbox" name="filmweb" ng-model="history.filmweb"> filmweb.pl
            </label><br/>
            <label>
              <input type="checkbox" name="filmaster" ng-model="history.filmaster"> filmaster.pl
            </label><br/>
            <label class="control-label" for="country">Ocena</label>
            <input name="name" type="text" ng-model="history.rating" id="rating" class="form-control" placeholder="Przykład: 9,8"></br>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <label>
                <input type="checkbox" name="wygrane" ng-model="history.wygrane">Wygrane
              </label>
            </div>
            <div class="col-md-6">
              <label>
                <input type="checkbox" name="sumarycznie" ng-model="history.sumarycznie">Sumarycznie
              </label>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg">Uruchom wyszukiwanie</button>
            </div>
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <!--<div class="row">
    <h2>Ostanio znalezione:</h2>
    <div class="col-md-3">
      <h2><strong>T</strong>ytuł</h2>
      <a target="_blank" href="http://mongodb.org/"> zdjęcie</a>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>ytuł</h2>
      <a target="_blank" href="http://mongodb.org/"> zdjęcie</a>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>ytuł</h2>
      <a target="_blank" href="http://mongodb.org/"> zdjęcie</a>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>Tytuł</h2>
      <a target="_blank" href="http://mongodb.org/"> zdjęcie</a>
    </div>
  </div>-->
</section>
